

.container {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}

.search-products-div {
  padding: calc(15rem / 16) 20px;
  background-color: white;
  border: 1px solid var(--color5);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  padding: calc(10rem / 16) 12px;
  border-radius: 4px;
  border: 1px solid var(--color5);
}

.pagination-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
