.products-section {
    background-color: var(--color6);
    padding: calc(20rem/16) 0;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

.add-new-product-btn {
    padding: 15px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: var(--main-font);
}

.search-products-div {
    padding: calc(15rem/16) 20px;
    background-color: white;
    border: 1px solid var(--color5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.form-input {
    padding: calc(10rem/16) 12px;
    border-radius: 4px;
    border: 1px solid var(--color5);
}

.products-table th {
    text-align: left;
    padding: 10px 15px;
    font-size: var(--font-size-3);
    color: var(--color7);
    font-weight: 600;
}

.products-table thead tr th {
    background-color: var(--color6);
    border: 1px solid var(--color5);
}

.products-table {
    background-color: white;
}

.products-table tbody tr td {
    padding: 13px 18px;
}