<header>
  <img src="/assets/site logo.png" alt="pc web shop logo" class="site-logo-img">
  <ul class="menu-ul">
    <li>
      <a href="/">Products</a>
    </li>
    <li>
      <a href="/orders">Orders</a>
    </li>
    <li>
      <a href="/users">Users</a>
    </li>
  </ul>
  <div class="header-buttons-div">
    <button class="login-btn rounded-btn">
      <img src="/assets/user login.png" alt="">
    </button>
  </div>
</header>