<!DOCTYPE html>
<html lang="en">
<% locals.pageStyles.push("/styles/pages/createProduct.css") %>
<%- include('./shared/head.ejs') %>
    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <h1>Hi from create product page</h1>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>
</html>