<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>

    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <h1>Hi from index page</h1>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>