<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>

    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <section class="products-section">
                    <div class="container">
                        <div class="products-div">
                            <div class="products-info-div">
                                <h1>Products</h1>
                                <p>Manage your inventory, price and stock level</p>
                            </div>
                            <button class="add-new-product-btn">+ Add New Product</button>
                        </div>
                        <div class="search-products-div">
                            <input class="form-input" type="text" placeholder="Search products by name">
                            <select class="form-input" name="" id="">
                                <option disabled selected>All Categories</option>
                                <option value="1">Category placeholder 1</option>
                                <option value="2">Category placeholder 2</option>
                            </select>
                        </div>
                        <table class="products-table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nvidia RTX 4090</td>
                                    <td>GPU</td>
                                    <td>4</td>
                                    <td>2000.00$</td>
                                    <td>In stock</td>
                                    <td>Edit</td>
                                </tr>
                                <tr>
                                    <td>Nvidia RTX 4090</td>
                                    <td>GPU</td>
                                    <td>4</td>
                                    <td>2000.00$</td>
                                    <td>In stock</td>
                                    <td>Edit</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>