<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>

    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <section class="products-section">
                    <div class="container">
                        <div class="products-div">
                            <div class="products-info-div">
                                <h1>Products</h1>
                                <p>Manage your inventory, price and stock level</p>
                            </div>
                            <button class="add-new-product-btn">+ Add New Product</button>
                        </div>
                        <div class="search-products-div">
                            <input class="form-input" type="text" placeholder="Search products by name">
                            <select class="form-input" name="" id="">
                                <option disabled selected>All Categories</option>
                                <option value="1">Category placeholder 1</option>
                                <option value="2">Category placeholder 2</option>
                            </select>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>