<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head.ejs') %>

  <body>
    <%- include('./shared/header.ejs') %>
    <main>
      <section class="products-section">
        <div class="container" style="display: flex; align-items: center; justify-content: center; min-height: 70vh;">
          <h1>Server error :(</h1>
        </div>
      </section>
    </main>
    <%- include('./shared/footer.ejs') %>
  </body>
</html>
