:root {
    --primary: #be3279;
    --primary-hover:#777074;
    --color2: #89ba19;
    --color3: #f6f8f6;
    --color4: #111813;
    --color5:#cacaca;
    --color6: #eeeeee;
    --color7: #999999;
    --main-font: "Roboto";
    --font-size-1: calc(10rem/16);
    --font-size-2: calc(12rem/16);
    --font-size-3: calc(14rem/16);
    --font-size-4: calc(18rem/16);
    --font-size-5: calc(22rem/16);
    --font-size-6: calc(28rem/16);
    --table-radius: calc(12rem/16);
}

body {
    background-color: var(--color3);
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5,h6, p {
    padding: 0;
    margin: 0;
}

.page-link {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

.default-btn {
  padding: 15px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: var(--main-font);
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 10px;
}

.app-table th {
  text-align: left;
  padding: 10px 15px;
  font-size: var(--font-size-3);
  color: var(--color7);
  font-weight: 600;
}

.app-table thead tr {
  background-color: var(--color6);
}

.app-table {
  background-color: white;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--color5);
  border-radius: var(--table-radius);
  overflow: hidden;
}

.app-table tbody tr td {
  padding: 13px 18px;
}

.colored-section {
  background-color: var(--color6);
  padding: calc(20rem / 16) 0;
}