:root {
    --primary: #be3279;
    --primary-hover:#777074;
    --color2: #89ba19;
    --color3: #f6f8f6;
    --color4: #111813;
    --color5:#cacaca;
    --color6: #eeeeee;
    --main-font: "Roboto"
}

body {
    background-color: var(--color3);
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5,h6, p {
    padding: 0;
    margin: 0;
}