:root {
    --primary: #be3279;
    --primary-hover:#777074;
    --color2: #89ba19;
    --color3: #f6f8f6;
    --color4: #111813;
    --color5:#cacaca;
    --color6: #eeeeee;
    --color7: #999999;
    --main-font: "Roboto";
    --font-size-1: calc(10rem/16);
    --font-size-2: calc(12rem/16);
    --font-size-3: calc(14rem/16);
    --font-size-4: calc(18rem/16);
    --font-size-5: calc(22rem/16);
    --font-size-6: calc(28rem/16);
    --table-radius: calc(12rem/16);
}

body {
    background-color: var(--color3);
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5,h6, p {
    padding: 0;
    margin: 0;
}